html {
    -webkit-appearance: none;
    border-radius: 0;
}

body {
    background-image: url("Images/waterbackground.jpg");
}

#activityMenu {
    display: none;
    position: absolute;
}

#genericInput {
    display: none;
}

#howmuch {
    display: none;
}

#howmany {
    display: none;
}

#genericInputDiv {
    width: 45vw;
    position: relative;
    display: none;
    float: left;
}

#history {
    float: right;
    width: 10em;
}

.actButton {
    height: 45vw;
    width: 45vw;
    margin: 1em;
    float: left;
    border: none;
    background: greenyellow;
    border-radius: 0;
    -webkit-appearance: none;
}