
html {
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

body {
    height : 100%;
    background-image: url("images/transparent-bg.png");
    padding: 0;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#activityButton {
    position: fixed;
    top: 2em;
    right: 2em;
    height: 10em;
    width: 20em;
}

#title {
    float: left;
    position: absolute;
    margin-top: 1em;
    margin-left: 1em;
    top: 75%;
    left: 75%;
}

#plont {
    z-index: 1;
    height: 100;
    width: 100;
    filter: none;
    top: 75%;
}

#activityMenu {
    z-index: 2;
    display: none;
    position: absolute;
    opacity: 0.6;
}

#genericInput {
    display: none;
}

#howmuch {
    display: none;
}

#howmany {
    display: none;
}

#genericInputDiv {
    width: 25vw;
    position: relative;
    display: none;
    float: left;
}

#history {
    float: right;
    width: 10em;
    margin-top: 2em;
    margin-right: 20em;
}

#footer {
    background-color: lightskyblue;
    margin: 0;
    height: 100%;
    text-align: center;
}

.actButton {
    height: 24vw;
    width: 24vw;
    margin: 1em;
    float: left;
    border: none;
    background-color: greenyellow;
    border-radius: 0;
    -webkit-appearance: none;

}



#toilet{
    background-image: url("images/Toilet.png");
}


